<!DOCTYPE HTML>
<html>
<head>
<title>CONTRA EL CRIMEN | INDEX</title>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
<link href="stylesheets/landinpage/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="stylesheets/landinpage/magnific-popup1.css">
<link rel="stylesheet" type="text/css" href="stylesheets/landinpage/prettyPhoto.css">
<link rel="stylesheet" type="text/css" href="stylesheets/landinpage/estilosweb.css">
<link rel="stylesheet" type="text/css" href="template/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="template/dist/css/AdminLTE.min.css">
	<!--  jquery plguin -->
	<script type="text/javascript" src="template/plugins/jQuery/jQuery-2.1.4.min.js"></script>
	<!--start slider -->
	    <link rel="stylesheet/images" href="stylesheets/landinpage/fwslider.css" media="all">
		<script src="javascripts/landinpage/jquery-ui.min.js"></script>
		<script src="javascripts/landinpage/css3-mediaqueries.js"></script>
		<script src="javascripts/landinpage/fwslider.js"></script>
	<!--end slider -->
	 <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
		<!-- Add fancyBox light-box -->
		<script src="javascripts/landinpage/jquery.magnific-popup.js" type="text/javascript"></script>
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
					});
				});
		</script>
		<!-- //End fancyBox light-box -->

</head>
<body>
<!-- start header -->
<div class="header_bg">
<div class="wrap">
	<div class="header">
		<div class="logo">
			<h1><a href="index.html"><img src="images/landinpage/logo.png" alt="" /></a></h1>
		</div>
		<div class="h_right">
			<ul class="menu">		
				<li class="active"><a  href="#home">Inicio</a></li>
				<li><a href="#services" class="scroll">¿Que es ContraCrimen?</a></li>
				<li><a href="#portfolio" class="scroll">Nuestra Realidad</a></li>
				<!-- <li><a href="#pricing" class="scroll">Finalidad</a></li> -->
				<li><a href="#" data-toggle="modal" data-target="#modal-registro">Regístrate</a></li>
				<li class="last"><a href="#contact"  class="scroll">Contacto</a></li>
			</ul>
			<!-- <div id="sb-search" class="sb-search">
				<form>
					<input class="sb-search-input" placeholder="Enter your search term..." type="text" value="" name="search" id="search">
					<input class="sb-search-submit" type="submit" value="">
					<span class="sb-icon-search"></span>
				</form>
			</div> -->
			<script src="javascripts/landinpage/classie.js"></script>
			<!--<script src="javascripts/landinpage/uisearch.js"></script>
			<script>
				new UISearch( document.getElementById( 'sb-search' ) );
			</script>*/-->
			<!-- start smart_nav * -->
	        <nav class="nav">
	            <ul class="nav-list">
	                <li class="nav-item"><a  href="#home">Home</a></li>
	                <li class="nav-item"><a href="#services" class="scroll">Services</a></li>
	                <li class="nav-item"><a href="#portfolio" class="scroll">Portfolio</a></li>
	                <li class="nav-item"><a href="#pricing" class="scroll">Pricing</a></li>
	                <li class="nav-item"><a href="#about" class="scroll">About</a></li>
	                <li class="nav-item"><a href="#contact"  class="scroll">Contact</a></li>
	                <div class="clear"></div>
	            </ul>
	        </nav>
	        <script type="text/javascript" src="javascripts/landinpage/responsive.menu.js"></script>
			<!-- end smart_nav * -->
		</div>
		<div class="clear"></div>
	</div>
</div>
</div>

<!----start-images-slider---->
		<div class="images-slider">
			<form id="form-login" class="login col-md-5">
				<div class="box-body">
					<div style="display:none" class="callout callout-danger">
	                    <h4>Aviso!!!</h4>
	                    <p></p>
	                </div>
				</div>
			  	<div class="form-group col-md-12">
			    	<input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
			  	</div>
			  	<div class="form-group col-md-12">
			    	<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  	</div>
			  	<button type="submit" id="btn-login" class="btn btn-success col-md-4">Iniciar</button>
			</form>
			<!-- start slider -->
		    <div id="fwslider">
		        <div class="slider_container">
		            <div class="slide"> 
		                <!-- Slide image -->
		                    <img src="images/landinpage/slider-bg.jpg" alt=""/>
		                <!-- /Slide image -->
		                <!-- Texts container -->
		                <div class="slide_content">
		                    <div class="slide_content_wrap">
		                        <!-- Text title -->
		                        <h4 class="title">ContraCrimen</h4>
		                        <!-- /Text title -->
		                        <!-- Text description -->
		                        <p class="description">Plataforma Virtual de Seguridad Ciudadana</p>
		                        <!-- /Text description -->
		                        <div class="slide-btns description">	                      
		                        </div>
		                    </div>
		                </div>
		                 <!-- /Texts container -->
		            </div>
		            <!-- /Duplicate to create more slides -->
		            
		            <!--/slide -->
		        </div>
		        <div class="timers"> </div>
		        <!-- <div class="slidePrev"><span> </span></div> -->
		        <!-- <div class="slideNext"><span> </span></div> -->
		    </div>
		    <!--/slider -->
		</div>
<!-----------service------------>
<div  class="sevice" id="services">
	<div class="wrap">
		<div class="service-grids">
			<h2>Contra Crimen</h2>
						<div class="images_1_of_4">
					 		<img src="images/landinpage/cal.png">
					 		<h3><a href=#>Comunidad Social</a></h3>
					 		<p>Tiene una similitud a una red social, en la cual los ciudadanos podrán interactuar con otros de su región, provincia, distrito e incluso de su barrio</p>				    
						</div>
						<div class="images_1_of_4">
							 <img src="images/landinpage/port.png">
							 <h3><a href=#>Poder Denunciar</a></h3>
							 <p>Usted podra realizar su denuncia(Bajo su nombre o anonimato), conectandose con la comisaria mas cercana desde la plataforma, presentando las respectivas pruebas debidas (imagen, audio, videos, etc.). </p>						   
						</div>
						<div class="images_1_of_4">
							 <img src="images/landinpage/recyle.png">
							 <h3><a href=#>Publicar Incidencias</a></h3>
							 <p>Usted puede publicar alguna incidencia de tipo alerta, aviso o anuncio que crees que otras ciudadanos deben saber.</p>						   
						</div>
						<div class="images_1_of_4">
							 <img src="images/landinpage/camera.png">
							 <h3><a href=#>Recibir Noticias</a></h3>
							 <p>Podras recibir noticias actuales sobre delincuencia, corrupcion y mas relacionado a su seguridad, y asi se encuentre actualizado en estos temas</p>						   
						</div>
						<div class="clear"> </div>
		 </div>
</div>
</div>
<!-----------//service//------------>
<!----------- message ------------>
<div class="message" >
	<div class="wrap" style="margin-left:150px">
		<h3>Quieres Luchar Contra la Corrupción?</h3>
		<div class="buttons" style="margin-left:450px">
		    <div class="span1" align="right">
		    	<a href="usuarios/registro">
		    		<i>Únetenos!</i>
		    		<div class="clear"></div>
		    	</a>
		    </div>	
		    
		    <div class="clear"></div>	
		</div>	
	</div>
</div>	
  
  <div id="cbp-so-scroller" class="cbp-so-scroller">
        <!--Portfolio-->
        <div id="portfolio" class="clearfix">
            <div class="portfolio-bg"> </div>
            <div class="typo1">
                <div class="wrapper clearfix">
                    <div class="section-title">
                       <h3 class="heading">Nuestra Realidad</h3>					  
					   <h6> </h6>
                    </div><!--end:section-title-->
                    
                    <div id="options" class="clearfix">
                        <ul id="filters" class="option-set clearfix" data-option-key="filter">
                        	 <li><a href="#" data-option-value=".web-design">Corrupcion</a></li>
                            <li><a href="#" data-option-value=".photo">Robos</a></li>
                            <li><a href="#" data-option-value=".ios-app">Homicidios</a></li>
                            <li><a href="#" data-option-value=".graphic">Secuestros</a></li>  
                            <li><a href="#" data-option-value=".graphic">Violencia Familiar</a></li>                       
                        </ul><!--end:filters-->
                    </div>
                          
                </div><!--end:wrapper-->
                
                <ul id="container" class="clickable cs-style-5 grid clearfix isotope" style="position: relative; overflow: hidden; height: 534px; width: 1475px;">
            
                    <li class="element photo isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-1.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Robos</a></h3>
                                
                            </figcaption>
                        </figure>
                       
                    </li>
                        
                    <li class="element web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(295px, 0px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-2.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Extorsion</a></h3>
                                
                            </figcaption>
                        </figure>
                        
                    </li>
                        
                    <li class="element ios-app isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 0px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-3.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Robo Callejero</a></h3>
                                
                            </figcaption>
                        </figure>
                        
                    </li>
                        
                    <li class="element graphic isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(885px, 0px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-4.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Tirania</a></h3>
                                
                            </figcaption>
                        </figure>
                        
                    </li>
                        
                    <li class="element photo isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(1180px, 0px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-5.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Robo en Vehiculos</a></h3>
                                
                            </figcaption>
                        </figure>
                       
                    </li>
                        
                    <li class="element web-design isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 267px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-6.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Drogas</a></h3>
                                
                            </figcaption>
                        </figure>
                        
                    </li>
                        
                    <li class="element ios-app isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(295px, 267px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-7.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Violencia Familiar</a></h3>
                            
                            </figcaption>
                        </figure>
                        
                    </li>
                        
                    <li class="element graphic isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(590px, 267px, 0px);">
                      <figure>
                          <img src="images/landinpage/pf-8.jpg" alt="">
                          <figcaption>
                                <h3><a href="#">Asesinatos</a></h3>
                            </figcaption>
                        </figure>
                    </li>
                        
                    
                        
                    
                    <div class="clear"> </div>
                </ul> <!-- #container -->

            </div><!--end:typo1-->
        </div>      
    </div>
    <!-- portfolio_script_javascript-->
     <script src="javascripts/landinpage/jquery.isotope.min.js"></script> 
   	 <script src="javascripts/landinpage/jquery.prettyPhoto.js"></script>     
	 <script src="javascripts/landinpage/custom.js"></script>  
	 <script src="javascripts/landinpage/modernizr.custom.js"></script>
<!----------- message1 ------------>

<div class="message1">
	<div class="wrap">
		<!-- <h3>Pricing Table</h3>
		<p>Clean beautiful flat Table</p> -->
		<p></p>
		<p></p>
</div>
</div>	

<div class="client">
						<h3 ><img src="images/landinpage/line.png" /><i style="color:gray;font-weight: bold;font-size: 22px;">MENSAJE</i><img src="images/landinpage/line.png" /></h3>
						<div class="img">
						     <img src="images/landinpage/left.png" />
						</div>
						<div class="data">
						    <p style="font-weight: bold;font-size: 32px;">
						    	
						    </style>Para que el mal triunfe solo basta que las personas buenas no hagan nada o esten en silencio.</p>
						    <p><a href="#"></a></p>
						</div>
						<div class="img1">
						     <img src="images/landinpage/right.png" />
						</div>
						<div class="clear"> </div>
					</div>


			<!-- Add fancyBox light-box -->
				<!-- Add fancyBox light-box -->
		<script src="javascripts/landinpage/jquery.magnific-popup.js" type="text/javascript"></script>
				<script>
					$(document).ready(function() {
						$('.popup-with-zoom-anim').magnificPopup({
							type: 'inline',
							fixedContentPos: false,
							fixedBgPos: true,
							overflowY: 'auto',
							closeBtnInside: true,
							preloader: false,
							midClick: true,
							removalDelay: 300,
							mainClass: 'my-mfp-zoom-in'
					});
				});
		</script>
		<!-- //End fancyBox light-box -->
		<!----End-pricingplans---->
<!-----------end-pricing------------->
<!----------- message2 ------------>
<div class="message2">
	<div class="wrap" style="height:100px">
		<!-- <h3></h3>
		<p></p> -->
</div>
</div>
<!----------- about ------------>	
	



 <div class="contact" id="contact">
	<div class="wrap">
		<h2>Contáctanos</h2>
			<div class="contact-form">
				<div class="form">
					<h3>MAIL</h3>
				  			<form method="post" action="#">
							    	<input type="text" class="textbox" value=" Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
							    	<input type="text" class="textbox" value="Correo" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
										<div class="clear"> </div>
								    <div>
								    	<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = ' Message';}">Mensaje</textarea>
								    </div>
								<div class="span4">
							    	<a href="#">
							    		<i><input type="submit" value="Enviar Correo"></i>
							    		<div class="clear"></div>
							    	</a>
							    </div>								
							</form>
						</div>
				<div class="para-contact">
					<h4>MAS INFORMACION</h4>				
		 		  <div class="get-intouch-left-address">
		 		  	    <p>www.contracrimen.com</p>
						<p>Chiclayo. Lambayeque</p>
						<p>Balta, 1234</p>
						<!-- <p>Washington. United States.</p> -->
						<p># 973452699</p>
						<br/>
						<p><a href="mailto:info@mycompany.com"> info(a)contracrimen.com</a></p>
					</div>
					<div class="span4">
							    	<a href="#">
							    		<i><input type="submit" value="Infórmate"></i>
							    		<div class="clear"></div>
							    	</a>
							    </div>		
					<div class="clear"> </div>
					

					</div>
						<a class="mov-top" href="#home1"> <span> </span></a>
					 <div class="clear"> </div>

				</div>
  			</div>
     </div>
<!--------//end-contact----------->
<!----------- message3 ------------>


<div class="footer-top">
	<div class="wrap">
				<div class="col_1_of_3 span_1_of_3">
					<h5>TWEETS RECIENTES</h5>
					<h6><img src="images/landinpage/twit.png" alt=""><a href="#"><span>Contra la Delincuencia, 06.12.2015</span></a></h6>
					<p>Si se pude conbatir la corrupcion, no debemos estar callados<lable>

					<h6><img src="images/landinpage/twit.png" alt=""><a href="#"><span>Somos uno ante la corrupción, 06.12.2015</span></a></h6>
					<p><h6><img src="images/landinpage/twit.png" alt=""><a href="#"><span>Contra la Delincuencia, 06.12.2015</span></a></h6>
					<p>Si se pude conbatir la corrupcion, no debemos estar callados<lable>Vamos si se puede acabar con ello<lable>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h5>POST RECIENTES</h5>
					<h6 class="a">06.12.2015</h6>
					<p>La mejor red contra la corrupcion y combatir este gran problema</p>
					<h6 class="a">06.12.2015</h6>
					<p>Todos debemos apoyar en esta iniciativa</p>
					<h6 class="a">06.12.2015</h6>
					<p>Colaboremos con esta plataforma</p>
					
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<h5>IMAGENES RECIENTES</h5>
					<ul>
						<li><img src="images/landinpage/pf-1.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-2.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-3.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-4.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-5.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-6.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-8.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-2.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-4.jpg" alt=""></li>
						<li><img src="images/landinpage/pf-5.jpg" alt=""></li>						
					</ul>
				</div>
				 <div class="clear"></div>

    </div>
</div>
<div class="footer-bottom">
	<div class="wrap">
		<div class="image">
			<a href="index.html"><img src="images/landinpage/logo.png" alt=""></a>
		</div>	
		<div class="copy-right">
			<p>© 2015  <a href="#">  www.contracrimen.com</a></p>
		</div>	
		 <div class="clear"></div>
	</div>
</div>		

<div class="modal fade" id="modal-registro" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Completa el formulario y serás parte de la plataforma</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="form-registro">
        	<div class="form-group">
			    <label class="col-sm-2 control-label" for="nombre">Nombre</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
			    </div>
			</div>
			<div class="form-group">
			    <label for="apePaterno" class="col-sm-2 control-label">Ape. Paterno</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="apePaterno" id="apePaterno" placeholder="Ap. Paterno">
			    </div>
			</div>
			<div class="form-group">
			    <label for="apeMaterno" class="col-sm-2 control-label">Ape. Materno</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="apeMaterno" id="apeMaterno" placeholder="Ap. Materno">
			    </div>
			</div>
			<div class="form-group">
			    <label for="dni" class="col-sm-2 control-label">DNI</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" name="dni" id="dni" placeholder="DNI">
			    </div>
			</div>
			<div class="form-group">
			    <label for="telefono" class="col-sm-2 control-label">Teléfono</label>
			    <div class="col-sm-10">
			      <input type="tel" class="form-control" name="telefono" id="telefono" placeholder="Teléfono">
			    </div>
			</div>
			<div class="form-group">
			    <label for="email" class="col-sm-2 control-label">Email</label>
			    <div class="col-sm-10">
			      <input type="email" class="form-control" name="email" id="email" placeholder="Email">
			    </div>
			</div>
			<div class="form-group">
			    <label for="usuario" class="col-sm-2 control-label">Usuario</label>
			    <div class="col-sm-10">
			      <input type="tel" class="form-control" name="usuario" id="usuario" placeholder="Usuario">
			    </div>
			</div>
			<div class="form-group">
			    <label for="password" class="col-sm-2 control-label">Contraseña</label>
			    <div class="col-sm-10">
			      <input type="tel" class="form-control" name="password" id="password" placeholder="Password">
			    </div>
			</div>
			<div class="form-group">
			    <label for="rep-password" class="col-sm-2 control-label">Repita Contraseña</label>
			    <div class="col-sm-10">
			      <input type="tel" class="form-control" name="rep-password" id="rep-password" placeholder="Repita Password">
			    </div>
			</div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" id="btn-enviar" class="btn btn-primary">Enviar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

 <!-- scroll_top_btn -->
		<script type="text/javascript" src="javascripts/landinpage/move-top.js"></script>
		<script type="text/javascript" src="javascripts/landinpage/easing.js"></script>
		<script type="text/javascript" src="template/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="javascripts/app.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
				});

				index();
			});
		</script>

		 <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>