<div class="modal fade" id="modal_maps" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Ubica el lugar del suceso</h4>
      </div>
      <div class="modal-body">
          <div class="col-md-8">
            <input type="text" id="maps_search" class="form-control col-md-8" placeholder="Escriba la dirección o zona" />
          </div>
          <div class="col-md-2">
            <button id="btn-search-maps" class="btn btn-md btn-success">Buscar</button>
          </div>
          <div id="maps_content" data-target_show="#btn-show-maps" data-target_search="#btn-search-maps" data-target_acept="#btn-acept-maps" class="col-md-12" style="height:300px;margin-top:20px;">

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btn-acept-maps">Aceptar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->